
Submarines:
Virgina
Ohio
Seawolf

Aircraft Carriers:
Nimitz
Ford
America
Wasp

Aircraft:
F/A-18E
F-35B
F-35C
harrier 2 (may be too old)
F/A-XX

Surface:
Iowa class
https://en.wikipedia.org/wiki/United_States_battleship_retirement_debate#Replacing_the_battleships
Arleigh Burke Flight IIIA
Ticonderoga
Zumwalt

2 + 1 + 1 new
remove harrier
maybe remove zumwalt
